@model Team6CVGS.Models.Review

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReviewId" class="control-label"></label>
                <input asp-for="ReviewId" class="form-control" />
                <span asp-validation-for="ReviewId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Reviewer Name</label>
                <select asp-for="UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GameGuid" class="control-label"></label>
                <select asp-for="GameGuid" class ="form-control" asp-items="ViewBag.GameGuid"></select>
            </div>
            <div class="form-group">
                <label asp-for="ReviewDate" class="control-label"></label>
                <input asp-for="ReviewDate" class="form-control" />
                <span asp-validation-for="ReviewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewContent" class="control-label"></label>
                <input asp-for="ReviewContent" class="form-control" />
                <span asp-validation-for="ReviewContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewRaiting" class="control-label">Raiting</label>
                <input asp-for="ReviewRaiting" class="form-control" />
                <span asp-validation-for="ReviewRaiting" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
