@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewBag.Title = "All Users";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>
                Users @using (Html.BeginForm("ChangeRole", "ApplicationUsers")){ @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select a Role")<input type="submit" value="Change Role" />
                }
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
            <thead>
                <tr>
                    <td><b>Username</b></td>
                    <td><b>Email</b></td>
                </tr>
            </thead>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>

                </tr>

            }
        </table>
    </div>

    <div class="panel-footer">
        <p class="box-title"><b>Total Users: </b><span class="label label-primary">@Model.Count()</span></p>
    </div>
</div>

@section scripts{
    <script>

        $(function () {
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}
